:root {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: antiquewhite;
}

body {
  padding-bottom: 2rem;
}

h1 {
  text-align: center;
  font-size: 4rem;
  margin-top: 1rem;
  color: tan;
}

a {
  color: cornflowerblue;
  text-decoration: none;
}

a:hover {
  color: white;
  text-shadow: 1px 1px 8px #000000aa;
}

.intro {
  display: flex;
  justify-content: space-between;
}

div.row > div {
  background-color: tan;
  height: 5rem;
  padding: 0.25rem;
}

div.row > div.blank {
  background-color: transparent;
}

div.row > div.row { /* nested row */
  background-color: transparent;
  padding: 0;
}

div.row > div.row > div { /* nested column */
  opacity: 0.66;
}

summary {
  color: darkslategrey;
  cursor: Pointer;
}

pre {
  font-family: 'Source Code Pro', monospace;
  background-color: darkslategrey;
  border: solid 1px black;
  box-shadow: 0 2px 8px #000000ff;
  color: white;
  padding: 1rem;
}

pre b {
  color: gold;
}

pre i {
  color: mediumseagreen;
}

form {
  background-color: rgba(255, 255, 255, 0.66);
  box-shadow: 0 2px 8px #00000044;
  padding: 1rem;
  max-width: 40rem;
}

form > input,
form > button {
  padding: 0.3rem;
  border-radius: 0.25rem;
}

form > input {
  background-color: whitesmoke;
  border: solid 1px grey;
}

form > button {
  background-color: rgb(176, 196, 222, 0.5);
  border: none;
}

form > button:hover {
  background-color: rgb(176, 196, 222, 1.0);
}

