:root {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: antiquewhite;
}

body {
  padding-bottom: 2rem;
  margin: 0.8rem 1.2rem;
}

h1 {
  text-align: center;
  font-size: 4rem;
  margin: 1rem 0;
  color: tan;
}

h2 {
  font-size: 1.8rem;
  margin: 2.4rem 0 1.8rem;
  color: darkslategrey;
}

a {
  color: cornflowerblue;
  text-decoration: none;
}

a:hover {
  color: white;
  text-shadow: 1px 1px 8px #000000a0;
}

.intro {
  display: flex;
  justify-content: space-between;
}

div.row > div {
  background-color: tan;
  height: 5rem;
  padding: 0.25rem;
}

div.row > div.blank {
  background-color: transparent;
}

div.row > div.row { /* nested row */
  background-color: transparent;
  padding: 0;
}

div.row > div.row > div { /* nested column */
  opacity: 0.66;
}

div.row > div.row > div.row > div { /* double nested column */
  opacity: 0.55;
}

summary {
  color: darkslategrey;
  cursor: Pointer;
}

pre {
  font-family: 'Source Code Pro', monospace;
  background-color: darkslategrey;
  border: solid 1px black;
  box-shadow: 0 2px 8px black;
  color: white;
  padding: 1rem;
}

pre b {
  color: gold;
}

pre i {
  color: mediumseagreen;
}

code {
  font-family: 'Source Code Pro', monospace;
  background-color: #ffffff70;
}

form {
  background-color: #ffffffa0;
  box-shadow: 0 2px 8px #00000040;
  padding: 1rem;
  max-width: 56rem;
}

form > input,
form > button {
  padding: 0.4rem;
  border-radius: 0.25rem;
}

form > input {
  background-color: whitesmoke;
  border: solid 1px silver;
}

form > button {
  background-color: #b0c4de80;
  border: solid 1px #b0c4de;
  color: navy;
  cursor: pointer;
}

form > button:hover {
  background-color: #b0c4de;
}

