:root {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: antiquewhite;
}

body {
  padding-bottom: 2rem;
}

h1 {
  text-align: center;
  font-size: 4rem;
  margin-top: 1rem;
  color: tan;
}

a {
  text-decoration: none;
}

.intro {
  display: flex;
  justify-content: space-between;
}

div.row > div {
  background-color: tan;
  height: 4rem;
  padding: 0.25rem;
}

div.row > div.blank {
  background-color: transparent;
}

summary {
  color: darkslategrey;
  cursor: Pointer;
}

pre {
  font-family: 'Source Code Pro', monospace;
  background-color: darkslategrey;
  color: white;
  padding: 1rem;
}

pre span {
  color: lightgreen;
}

form {
  max-width: 36rem;
}

form > input,
form > button {
  padding: 0.2rem;
}
